{{> pagestart}}

<h1 class="test">{{message}}</h1>

<form action="/search" method="get">
	<label for="q">
		<input type="text" name="q">
	</label>
	<button type="submit">Search</button>
</form>

{{> pageend}}